header.class-header {

  padding: 0.6rem 0 0 0;

  h1 {
    font-size: 1.8rem;
    padding: 0 0 0 0.5rem;
    display: inline;
  }

  strong {
    color: white;
  }

  .img {
    max-width: 1.5rem;
    padding: 0 0 0.5em 0;
  }

}

.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

header.class-header:hover {

  padding: 0.6rem 0 0 0;

  h1 {
    color: white;
    background: black;
    font-size: 1.8rem;
    padding: 0 0.5rem 0 0.5rem;
    display: inline;
  }

  strong {
    color: white;
  }

  .img {
    max-width: 1.5rem;
    padding: 0 0 0.5em 0;
  }

}

.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}