header.class-header {

  h1 {
    font-size: 1.6rem;
    padding: 0.2rem 0 0 0.4rem;
    display: inline;
  }

  .img {
    max-width: 1.4rem;
    padding: 0 0 0.8rem 0;
  }

}

.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}