body#welcome {

  background: 
    linear-gradient(256deg, rgba(175, 170, 192, 0.8), rgba(112, 119, 185, 0) 70%),
    linear-gradient(172deg, rgba(101, 106, 146, 0.8), rgba(82, 74, 155, 0) 70%),
    linear-gradient(340deg, rgba(95, 79, 110, 0.8), rgba(91, 88, 148, 0) 70%);

  .links {

    a {
      color: $body-welcome;
      padding: 1rem;
      font-size: 1rem;
      font-weight: 600;
      letter-spacing: .1rem;
      text-decoration: none;        text-transform: uppercase;
      border: 0.09rem ridge $body-welcome;
      border-radius: 0.5rem;
    }
  }

    .links > a:hover {
      color: rgb(255, 255, 255);
      border: 0.09rem ridge rgb(255, 255, 255);
      background: $body-welcome;
    }

    .title {
      padding: 1rem;
      header {
        .welcome-img {
          max-height: 20rem;
        }
        h1 {
          padding: 1rem;
          color: $body-welcome;
          font-size: 6rem;
          font-weight: bold;
        }
      }
    }
}