body#welcome {

  background: 
    linear-gradient(256deg, $welcome-1a, $welcome-1b 70%),
    linear-gradient(172deg, $welcome-2a, $welcome-2b 70%),
    linear-gradient(340deg, $welcome-3a, $welcome-3b 70%);

  .links {

    a {
      color: $body-welcome;
      padding: 1rem;
      font-size: 1rem;
      font-weight: 600;
      letter-spacing: .1rem;
      text-decoration: none;        
      text-transform: uppercase;
      border: 0.09rem ridge $body-welcome;
      border-radius: 0.5rem;
    }
  }

    .links > a:hover {
      color: rgb(255, 255, 255);
      border: 0.09rem ridge rgb(255, 255, 255);
      background: $body-welcome;
    }

    .title {
      padding: 1rem;
      header {
        .welcome-img {
          max-height: 20rem;
        }
        h1 {
          padding: 1rem;
          color: $body-welcome;
          font-size: 6rem;
          font-weight: bold;
        }
      }
    }
}